.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    background: var(--surface-color);
    border-radius: 18px;
    border: 1px solid var(--border-color);
    padding: 10px;
}

.topbar h1 {
    margin: 0;
    font-size: 32px;
    color: var(--text-color);
}

.topbar p {
    margin: 6px 0 0;
    color: var(--text-color);
}

.topbar-actions {
    display: flex;
    gap: 10px;
}

@media (max-width:800px) {

    .topbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

}