:root {
  /* Base Colors */
    --bg-color: #151515;
    --surface-color: #292929;
    --surface-hover: #333333;
    --border-color: #3f3f3f;


  /* Text */
  --text-color: whitesmoke;
  --text-secondary: #bdbdbd;

  /* Borders */
  --border-color: #575757;

  /* Theme Colors (change per theme) */
  --primary-color: #3b82f6;
  --secondary-color: #2563eb;

  /* Fonts */
  --font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.45;

  color: var(--text-color);
  background: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ============================= */
/* Default Theme */
/* ============================= */

:root[data-theme="default"] {
  --primary-color: #3b82f6;
  --secondary-color: #2563eb;
}

/* ============================= */
/* Pink Theme */
/* ============================= */

:root[data-theme="pink"] {
  --primary-color: #ec4899;
  --secondary-color: #be185d;
}


@media (prefers-color-scheme: dark) {
  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}